.read-more-button {
  border: 2px solid;
  padding: .5rem;
  display: inline-block;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  float:right;
}

.panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content:"-";
    padding-right: 5px;
}
.panel-title > a.collapsed:before {
    float: right !important;
    content:"+";
}
.panel-title > a:hover,
.panel-title > a:active,
.panel-title > a:focus  {
    text-decoration:none;
}

.news-space {
  margin: 4%;
}
